/*-----------proyecto_template CSS------------*/
@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');


.custom-navbar{
  background-color: #fff;
}
.nav-link{
  color: black!important;
}
.custom-toggler .navbar-toggler-icon{
  width: 18px!important;
}
.custom-toggler:hover{
  border-color: rgb(255,255,255);
  background-color: #f76a88;
}
.navbar{
  height: 60px!important;
  margin-right: 0px!important;
}
.navbar-brand{
  margin-bottom: 0px!important;
}
.navbar-expand-md{
  margin-right: 0px!important;
}
.nav-item{
  font-size: 95%!important;
}
.icon{
  color: #A4CDCA!important;
}
#logo_custom{
  width: 50%;
  max-width: 95px;
  }
.rowMenu{
  width: 100%!important;
}
.optionalMenu{
  display: none;
}
/*-----------------Media Query----------------*/
/*-----------------Media Query----------------*/

@media only screen and (max-width: 765px) {
  /*-----------proyecto_template CSS------------*/
    #logo_custom{
      width: 20%;
      padding-bottom: 5px;
      }
    .optionalMenu{
        display:flex;
        float: right;
      }
    .navbar-brand{
      padding-top: 0px!important;
    }
    .content1-title{
      font-size: 16px;
    }
    .content1-planning{
      width: 100%!important;
    }
    .content1-dataSheet{
      width: 100%!important;
    }
    .tree{
      width: 100%!important;
    }
    .galeria{
      display:inline-block!important;
    }
    .galeria2{
      display:inline-block!important;
    }
    .galeria img{
      width: 50%!important;
    }
    .galeria2 img{
      width: 100%!important;
    }
    .galeriaImg2{
      display:inline-block!important;
      width: 100%!important;
    }
    .dataSheet-content{
      font-size: 85%!important;
    }
    .liston{
      width: 5%!important;
      margin-top: -4%!important;
      margin-left: -13%!important;
      margin-right: 8%;
    }

    /*-----------oficina CSS------------*/
    .cardsOficina{
      margin-top: 20%!important;
      width: 65%!important;
    }
    .comillas{
      display: none!important;
    }
    .sentenceImg{
      width: 40%!important;
      height: 40%!important;
    }
    .sentence p{
      font-size: 75%!important;
      margin-top: 40px;
    }
    .minCard{
      margin-bottom: 60%!important;
      box-shadow: 2px 2px 10px #666
    }
    .detailFooter{
      padding-top: 10%!important;
      padding-bottom: 3%!important;
    }
    .sentence{
      margin-top: -25%!important;
    }

    .oficinaImg img{
      width: 100%!important;
    }
    .mainText3 p{
      width: 80%!important;
    }
    .titleFloat{
      min-height: 550px;
      margin-top: 5%;
      font-size: 115%!important;
    }

    .parrafosFloat{
      width: 80%!important;
      top: 10px!important;
      right: 5%!important;
      left: 8%!important;
      font-size: 75%!important;
      text-align: justify;
    }
    .parrafosFloat2{
      width: 80%!important;
      text-align: justify;
      top: 95px!important;
      left: 8%!important;
      font-size: 80%!important;
    }
    .parrafosFloat3{
      width: 80%!important;
      text-align: justify;
      left: 8%!important;
      font-size: 80%!important;
      top: 205px!important;
    }
    .parrafosFloat4{
      width: 80%!important;
      text-align: justify;
      top: 315px!important;
      left: 8%!important;
      font-size: 80%!important;
    }
    /*-----------contacto CSS------------*/
    .contactoMap img{
      width: 95%!important;
    }
    .contactoPortoviejo{
      width: 90%!important;

    }
    .contactoPortoviejo h3{
      margin-top: 5%!important;
    }
    .contactoMsj{
      width: 30%!important;
      padding-right: 0px!important;
    }
    .contactoEmail p{
      margin-bottom: 4%!important;
    }
    /*-----------noticias_template CSS------------*/
    .culturaDiv1{
      width: 90%!important;
    }
    .culturaDiv2{
      width: 90%!important;
      margin-left: 5%!important;
    }
    .santana{
      max-width: 50%!important;
    }
    .culturaContent p{
      margin-bottom: 25px!important;
      margin-right: 2px!important;
    }
    .culturaDiv3{
      width: 90%!important;
    }
    /*-----------proyecto_general CSS------------*/

    .generalTabs{
      width: 100%;
    }
    .generalTabs h3{
      font-size: 11px!important;
      display: flex;
      align-items: center;
      text-align: center;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 5px;
      width: %;
      margin-top: 10px!important;
      margin-bottom:10px!important;
    }
  }

@media only screen and (max-width: 490px) {
  .textTemplateP1{
    font-size: 10px!important;
    margin-bottom: 8px!important;
  }
  .textTemplateP2{
    margin-bottom: -4px!important;
    font-size: 15px!important;
  }
  .sentence p{
    margin-top: 60px!important;
  }
  .category p{
    font-size: 12px!important;
  }
  .textCategory{
    width: 150px!important;
  }
/*-----------------oficina css----------------*/
  .elEquipo{
    margin-top: 12%!important;
  }
/*-----------------contacto css----------------*/
  .contactoLocation{
    margin-top: -7%!important;
  }

}
/*-----------------Media Query----------------*/
/*--------------------End---------------------*/

.liston{
  width: 8%;
  margin-bottom: -8%!important;
  margin-left: -18%;
  margin-right: 9%;

}
.ant-tabs-bar{
  border-bottom: 2px solid #e8e8e8;
}
.proyectotemplateImage{
    width: 100%;
    background-position: center;
    background-size: cover;
    min-height: calc( 90vh - 115px );
    display: flex;
    margin-top: 60px!important;
    min-height: 300px;
}
.content1-proyectotemplate{
  width: 100%;
  padding-left: 10%;
  padding-right: 5%;
  padding-top: 5%;
}
.content1-date{
  font-size: 70%;
  padding-top: 3%;
  float: right;
  color: rgba(0, 0, 0, 0.65);
}
.content1-title{
  padding-top: 10%;
  padding-right: 25%;
}
.content1-text{
  font-size: 14px;
  text-align: justify;
}
.content1-subtitle{
  font-size: 85%!important;
  color: black;
  font-weight: 500;
}
.content1-read{
  font-family: 'Oxygen', sans-serif;
  padding-right: 15%;
  padding-top: 3%;
  padding-bottom: 4%;
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #B8B1B1;
  font-size: 88%;
  color: black;
}
.content1-planning{
  width: 64%;
  float: left;
  border-top: 2px;
  border-top-style: solid;
}
.content1-dataSheet{
  width: 28%;
  float: right;
  border-top: 2px;
  border-top-style: solid;
}
.contentData{
  font-size: 70%!important;
  padding-left: 3%;
}
.contentMap{
  padding-top: 10%!important;
}
.dataSheet-content{
  font-family: 'Oxygen', sans-serif;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 6%;
  padding-bottom: 4%;
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #B8B1B1;
  font-size: 75%;
}
.dataSheet-content h5{
  font-family: 'Oxygen', sans-serif;
  margin-bottom: 1px;
  font-size: 78%!important;
  font-weight: 600;
}
.dataSheet-content p{
  margin-bottom: 1px;
  font-size: 90%;
}
.dataSheetH4{
  padding-left: 5%!important;
}
.dataSheetH4{
  font-size: 70%;
}
.componentCenter{
  display: flex;
  width: 100%;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  font-family: 'Oxygen', sans-serif;
}
.tree{
  width: 30%;
  font-size: 93%;
  padding-left: 5%;
  padding-right: 5%;
}
.tree h5{
  color: orange;
  font-weight: normal;
  font-size: 100%!important;
  padding-left: 10px;
}
.tree p{
  max-width: 200px;
  padding-left: 10px;
}
.result{
  display: flex;
  width: 100%;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  font-family: 'Oxygen', sans-serif;
}
.result1{
  display: flex;
  width: 80%;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
  font-family: 'Oxygen', sans-serif;
  font-size: 110%;
  font-weight: 500;
  padding-bottom: 2%;
}


.subtitle{
  display: flex;
  width: 100%;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  font-family: 'Oxygen', sans-serif;
  font-size: 70%;
  color: rgba(0, 0, 0, 0.65);
  letter-spacing: 2px
}
.subtitle2{
  display: flex;
  width: 100%;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
  font-family: 'Oxygen', sans-serif;
  font-size: 110%;
  font-weight: 500;
  padding-bottom: 2%;
}
.galeria{
  width: 100%;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
  margin-bottom: 0px;
}

.galeria2{
  width: 100%;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  margin-bottom: 0px;
}
.galeria img{
  width: 23%;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 0.3rem;
}
.galeria2 img{
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 0.3rem;
}
.galeriaImg{
  width: 56%;
}
.galeriaImg2{
  width: 37%;
}
.galeriaImg3{
  margin-bottom: 0px;
}
.ImgGaleria6{
  width: 36%;
  margin-bottom: 2px;
}
.ImgGaleria8{
  width: 61%;
  margin-bottom: 0px;
}
.proyecto{
  width: 100%;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}
.imgTemplate{
  width: 80%;
  box-shadow: 2px 30px 22px #D3D5D6;
}
.textTemplate{
  position: absolute;
  bottom: 13%;
  left: 13%;
}
.textTemplateP1{
  color:  white;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
}
.textTemplateP2{
  color:  white;
  font-size: 150%;
  margin-bottom: -8px;
}

.footer{
  padding-top: 3%;
  padding-left: 6%;
  font-size: 60%;
  font-family: 'Oxygen', sans-serif;
  padding-bottom: 6%;
}
.footer p{
  margin-bottom: -2rem;
}
.line{
  display: flex;
  width: 100%;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
.line img{
  width: 20%;
}


/*-----------oficina CSS------------*/
.oficina{
 font-family: 'Oxygen', sans-serif;
}
.mainPicture{
  display: flex;
  width: 100%;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  padding-bottom: 2%;
}
.mainPicture img{
  width: 80%;
}

.mainText1{
  display: flex;
  width: 100%;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: 'Oxygen', sans-serif;
  font-weight: 600;
}
.mainText2{
  display: flex;
  width: 100%;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  font-family: 'Oxygen', sans-serif;
  font-size: 60%;
  color: #c5d9d6;
  letter-spacing: 2px;
  font-weight: 600;
}
.mainText3{
  display: flex;
  width: 100%;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 2%;
  font-family: 'Oxygen', sans-serif;
}
.mainText3 p{
  width: 40%;
  text-align:center;
}
.titleFloat{
  background-color: #EEF6F5;
  margin-top: 5%;
}
.titleFloat2{
  margin-top: -5%;
}
.oficinaImg{
  background-color: #EEF6F5;
  width: 100%;
  display: flex;
  position: relative;
  vertical-align: middle;
  align-content: center !important;
  align-items: center!important;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}
.oficinaImg img{
  width: 70%;
}
.parrafosFloat{
  width: 300px;
  position: absolute;
  left: 8%;
  top: 15%;
  font-size: 92%;
}
.parrafosFloat2{
  width: 200px;
  position: absolute;
  left: 12%;
  top: 45%;
}
.parrafosFloat3{
  width: 200px;
  position: absolute;
  right: 35%;
  bottom: 10%;
}
.parrafosFloat4{
  width: 200px;
  position: absolute;
  right: 12%;
  top: 20%;
}
.parrafo1{
  font-weight: 600;
  font-size: 110%;
  margin-bottom: 6px;
}
.parrafo2{
  font-size: 80%;
  color: #ffa64d;
  margin-bottom: 6px;
  font-weight: 600;
}
.parrafo3{
  font-size: 80%;
}
.elEquipo{
  display: flex!important;
  width: 100%!important;
  vertical-align: middle!important;
  align-items: center!important;
  justify-content: center!important;
  margin-top: 18%;
  padding-bottom: 2%;
}
.minCard{
  box-shadow: 1px 0px 3px #F5F4ED;
  border-radius: 20px;
}
.cardsOficina{
  width: 90%;
}
.cardsOficina h4{
  display: flex;
  width: 100%;
  vertical-align: middle;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  color: black;
}
.cardsOficina h3{
  color: #c5d9d6;
  display: flex;
  width: 100%;
  vertical-align: middle;
  justify-content: center;
}
.cardsOficina p{
  display: flex;
  width: 100%;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  color: black;
  font-family: 'Oxygen', sans-serif;
}
.mail{
  font-size: 14px;
}
.detail{
  text-align: inherit!important;
}
.small{
  font-size: 14px!important;
  padding-left: 2%;
  padding-right: 2%;
}
.studies{
  padding-top: 10%;
  padding-left: 15%!important;
  padding-right: 15%!important;
}
.detailFooter{
  color: #c5d9d6!important;
  font-weight: 600;
  border-top-style: solid;
  border-top-width: thin;
  border-color: #c5d9d6;
  padding-top: 17%;
  margin-bottom: -5px;
}
.plusDiv{
  display: flex;
  width: 100%;
  vertical-align: middle;
  justify-content: center;
}
.plus{
  width: 15%;
  margin-bottom: -17px;
}
.cardsOficina Card{
  border-style: none!important;
}
.divPictureDetail{
  display: flex!important;
  width: 100%!important;
  vertical-align: middle!important;
  justify-content: center!important;
}
.pictureDetail{
  margin-top: -65%!important;
  width: 80%!important;
}
.sentence{
  display: flex;
  width: 100%;
  vertical-align: middle;
  justify-content: center;
  background-color: #c5d9d6;
  margin-top: 30px;

}
.sentenceImg{
  width: 400px;
  height: 280px;
  margin-top: 40px;
  margin-bottom: 65px;
}
.comillas{
  width: 100px;
  height: 25px;
  padding-right: 20px;
  margin-top: 190px;
}
.sentence p{
  width: 250px;
  padding-bottom: 5%;
  font-family: 'Oxygen', sans-serif;
  font-size: 27px;
  margin-top: 80px;
  padding-left: 5px;
}
.category{
  width: 100%;
  display: flex !important;
  position: relative;
  vertical-align: middle;
  align-content: center !important;
  align-items: center!important;
  justify-content: center;
  margin: 0px!important;
}

.ant-card-body{
  padding: 0px!important;
  margin: -8px!important;
}
/*-----------noticias_template CSS------------*/
.noticias{
  font-family: 'Oxygen', sans-serif;
}
.cultura{
  display: flex;
  width: 100%;
  vertical-align: middle;
  justify-content: center;
  color: #ffa64d;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Oxygen', sans-serif;
}
.culturaText{
  display: flex;
  width: 100%;
  vertical-align: middle;
  justify-content: center;
  color: black;
  font-size: 19px;
  font-family: 'Oxygen', sans-serif;
  font-weight: 600;

}
.culturaImg{
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
}
.culturaDiv1{
 width: 28%;
 float: left;
 margin-right: 5%;
 margin-top: 8%;
 margin-left: 3%;
}
.agustinaSantana{
  width: 80%;
  float: left;
  color: black;
}
.share-alt{
  margin-top: -20px!important;
}
.culturaText1{
  font-size: 10px;
  font-weight: 600;
  font-family: 'Oxygen', sans-serif;
}
.culturaText1 img{
  margin-right: 10px;

}
.culturaText2{
  padding-left: 30px;
  font-size: 10px;
  font-weight: 600;
  font-family: 'Oxygen', sans-serif;
}
.culturaText3{
  padding-left: 30px;
  font-size: 8px;
  font-family: 'Oxygen', sans-serif;
  margin-bottom: 90px;
}
.culturaDiv2{
  margin-top: 5%;
  width: 38%;
  float: left;
  margin-bottom: 5%;
}
.culturaDiv2 p{
  font-size: 14px;
  font-family: 'Oxygen', sans-serif;
}
.centronoticias{
  margin-bottom: 35px;
  margin-top: 35px;
}
.culturaDiv3{
  width: 22%;
  float: left;
  margin-left: 30px;
  margin-top: 60%;
  font-family: 'Oxygen', sans-serif;
  font-size: 85%;
  color: black;
}
.culturaSubtitleImg{
  width: 100%;
  padding-bottom: 5%;
}
.panel{
  width: 18%;
  height: 85px;
  float: left;
}
.culturaSubtitle{
  width: 80%;
  float: left;
  padding-left: 5%;
  font-family: 'Oxygen', sans-serif;
  font-weight: 600;
  color: black;
}
.p1{
padding-top: 30%;
}
.masNoticias{
  color: #ffa64d;
  font-size: 16px;
  margin-top: 45px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-top-width: thin;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: rgba(0, 0, 0, 0.65);
  font-family: 'Oxygen', sans-serif;
  margin-left: 5%;
}

.culturaContent{
  padding-left: 25px;
  padding-right: 25px;
  color: #c5d9d6;
  border-top-width: thin;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: rgba(0, 0, 0, 0.65);
  margin-left: 5%;
}
.culturaContent div{
  color: #c5d9d6;
  font-size: 120%;
  font-weight: 600;
}
.culturaContent p{
  font-size: 15px!important;
  color: black !important;
  font-weight: 600;
  font-family: 'Oxygen', sans-serif;
  margin-bottom: 45px;
  margin-right: 10px;
}
.noticiasIcons{
  width: 20%;
  float: left;
  font-size: 135%;
  margin-top: 40%;
  color: black;
}
/*-----------contacto CSS------------*/
.contacto{
  font-family: 'Oxygen', sans-serif;
}
.contactoImg{
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  margin-bottom: 0px;
}
.contactoLocation{
  display: flex;
  width: 100%;
  background-color: #c5d9d6;
  vertical-align: middle;
  justify-content: center;
  margin-top: -6%;
}
.contactoMap{
  width: 75%;
  border-radius: 18px;
  background-color: #f2f6f6;
  margin-top: -10%;
  margin-bottom: 4%;

}
.contactoMap img{
  width: 65%;
  float: left;
  margin-left: 2%;
  border-radius: 15px;
  margin-bottom: 0%;

}
.contactoPortoviejo{
  width: 25%;
  float: left;
  margin-left: 5%;
  color: black;
}
.contactoPortoviejo h3{
  margin-top: 20%;
  color: #ffa64d;
  font-size: 15px;
  margin-bottom: 25px;
}
.contactoP{
  margin-top: 30px;
}
.contactoPortoviejo p{
  margin-bottom: 8px;
  font-size: 11px;
}
.contactoPanelMail{
  display: flex;
  width: 100%;
  vertical-align: middle;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.contactoMail{
  display: flex;
  width: 90%;
  vertical-align: middle;
  justify-content: center;
  background-color: #394145;
  border-radius: 18px;
  color: white;
}
.ant-input{
  background-color: #394145!important;
  color: white!important;
  border-style: none!important;
  border-radius: 0px!important;
  margin-bottom: -2px!important;
}
.contactoEmail{
  width: 40%;
  border-bottom-style: solid;
  border-bottom-width: thin;
  margin-top: 2%;
  margin-bottom: 3%;
}
.contactoEmail img{
  margin-bottom: -8px!important;
}
.contactoEmail p{
  font-size: 13px;
  margin-bottom: 20px;
}
.contactoMsj{
  width: 20%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 13px;
  padding-right: 20px;
}

/*-----------proyecto_general CSS------------*/



.ant-tabs-nav .ant-tabs-tab-active {
    color: #ffa64d !important;
    font-weight: 500;
    border-bottom-style:none!important;
}
.generalTabs{
  display: flex;
  width: 100%;
  vertical-align: center;
  justify-content:flex-end;
}
.generalTabs h3{
  margin: 2%;
  margin-top: 5%;
  font-size: 16px;
  color: #ffa64d!important;
  font-weight: 600;
}
.generalTabs a{
  color: #ffa64d!important;
  font-family: 'Oxygen', sans-serif;
}
.generalImg{
  margin-top: 2%!important;
}
.category img{
  margin: 0px!important;
}
.textCategory{
  width: 200px;
  position: absolute;
  left: 8%;
  bottom: 12%;
  font-size: 15px;
  color:  white;

}
.textCategoryVertival{
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  position: absolute;
  left: 8%;
  top: 7%;
  font-size: 15px;
  color:  white;
}
.textCategoryP{
  font-size: 12px!important;
}

/*----------- Home CSS------------*/
.homeMain{
  background-image: url("../images/home.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%!important;
  height: 600px!important;
  display: flex !important;
  position: relative;
  vertical-align:bottom;
  align-content: center !important;
  align-items: center!important;
  justify-content: center;
}
.homeMain img{
  width:100;
}
.homeText{
  width: 65%;
  text-align: center;
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 10%;
  text-transform: uppercase;
}
